* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  height: 100%;
}

body {
  background-color: #ffffff;
}
