$color-primary: #1f2a63;
$color-secondary: #17002f;
$color-third: #ffc107;
$color-muted: #f0f0f0;

$color-gray: #4b4b4b;
$color-gray-2: #f2f2f2;
$color-gray-3: #e0e0e0;

$color-green: #73d677;
$color-purple: #c956ff;
$color-teal: #07d6f2;
$color-yellow: #f5db13;
